body{
    
    background-image:url(1648934320850.jpg) ;
background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover ;
    font-family: Traditional Arabic;
}
img{
   float:right;
    width: 200px;
    margin: 50px;
    
    
   
}
