body{
    
    background-image:url(1648934320850.jpg) ;
background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover ;
    font-family: Traditional Arabic;
}
img{
   float:right;
    width: 200px;
    margin: 50px;
    
    
   
}
.im{
    float:left;
     width: 200px;
     margin: 50px;
     border: 0px rgb(200, 255, 0) solid;
     border-radius: 70px;
    
 }

.box{
    width:300px;
    padding:40px;
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(7, 2, 2, 0.459);
    text-align:center;
    color:#fbff00;
    border-radius:25px;
}

.box h1{
    color: rgb(248, 232, 8);
    
    text-align:center;
    font-family: Traditional Arabic;
    font-weight: 700;
}

